@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #FFFFFF;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* Скрыть полосу прокрутки */

::-webkit-scrollbar {
  display: none;
  /* Для веб-кит браузеров (Chrome, Safari, etc.) */
}

/* Для Firefox */

html {
  scrollbar-width: none;
}

/* Для IE и Edge */

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #141414;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0.9375rem;
  background-color: #141414;
  border: 1px solid #90E4FF;
  color: #90E4FF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 14.25rem;
  width: 100%;
  border-radius: 0.3125rem;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button span {
  text-transform: uppercase;
}

.button--fw {
  max-width: none;
  width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  position: relative;
  width: 100%;
  display: block;
  padding: 0.3125rem 0;
  color: #90E4FF;
  background-color: transparent;
  border-bottom: 1px solid #333333;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.input:focus {
  outline: none;
  border-bottom: 1px solid #90E4FF;
}

.input._form-error {
  border-bottom: 1px solid rgb(160, 0, 0);
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.menu__body {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  pointer-events: none;
  -webkit-transition: opacity 5s ease 5s;
  transition: opacity 5s ease 5s;
}

.menu-open .menu__body {
  pointer-events: all;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.menu-open .menu__body .item-menu {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.menu-open .menu__body .item-menu:nth-child(1) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu-open .menu__body .item-menu:nth-child(2) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.menu-open .menu__body .item-menu:nth-child(3) {
  -webkit-transition-delay: 0.65s;
          transition-delay: 0.65s;
}

.menu-open .menu__body .item-menu:nth-child(4) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.menu-open .menu__body .item-menu:nth-child(5) {
  -webkit-transition-delay: 0.95s;
          transition-delay: 0.95s;
}

.menu-open .menu__body .item-menu:nth-child(6) {
  -webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
}

.menu-open .menu__body .item-menu:nth-child(7) {
  -webkit-transition-delay: 1.25s;
          transition-delay: 1.25s;
}

.menu-open .menu__body .item-menu:nth-child(8) {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

.menu-open .menu__body .item-menu:nth-child(9) {
  -webkit-transition-delay: 1.55s;
          transition-delay: 1.55s;
}

.menu-open .menu__body .item-menu:nth-child(10) {
  -webkit-transition-delay: 1.7s;
          transition-delay: 1.7s;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-menu {
  opacity: 0;
  -webkit-transform: translate(-100%, 0%);
      -ms-transform: translate(-100%, 0%);
          transform: translate(-100%, 0%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 3.125rem 1.25rem;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.item-menu:nth-child(1) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.item-menu:nth-child(2) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.item-menu:nth-child(3) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.item-menu:nth-child(4) {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

.item-menu:nth-child(5) {
  -webkit-transition-delay: -0.1s;
          transition-delay: -0.1s;
}

.item-menu:nth-child(6) {
  -webkit-transition-delay: -0.25s;
          transition-delay: -0.25s;
}

.item-menu:nth-child(7) {
  -webkit-transition-delay: -0.4s;
          transition-delay: -0.4s;
}

.item-menu:nth-child(8) {
  -webkit-transition-delay: -0.55s;
          transition-delay: -0.55s;
}

.item-menu:nth-child(9) {
  -webkit-transition-delay: -0.7s;
          transition-delay: -0.7s;
}

.item-menu:nth-child(10) {
  -webkit-transition-delay: -0.85s;
          transition-delay: -0.85s;
}

.item-menu:nth-child(1) {
  background-color: #212121;
  position: relative;
  z-index: 4;
}

.item-menu:nth-child(2) {
  background-color: #0E0E0E;
  -webkit-transform: translate(-200%, 0%);
      -ms-transform: translate(-200%, 0%);
          transform: translate(-200%, 0%);
  position: relative;
  z-index: 3;
}

.item-menu:nth-child(3) {
  background-color: #000000;
  -webkit-transform: translate(-300%, 0%);
      -ms-transform: translate(-300%, 0%);
          transform: translate(-300%, 0%);
  position: relative;
  z-index: 2;
}

.item-menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5rem;
  padding: 1.25rem;
}

.item-menu__title {
  text-wrap: nowrap;
  -webkit-transform: translate(0%, 100%);
      -ms-transform: translate(0%, 100%);
          transform: translate(0%, 100%);
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.item-menu__title::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.1875rem;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #90E4FF;
}

.item-menu__link {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  overflow: hidden;
  position: relative;
}

.item-menu__link span {
  -webkit-transform: translate(0%, 100%);
      -ms-transform: translate(0%, 100%);
          transform: translate(0%, 100%);
  -webkit-transition: opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.item-menu__link span::after {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  background: url("../img/icons/link-arrow.svg") center no-repeat;
}

.icon-menu {
  outline: none;
  display: block;
  position: relative;
  width: 1.6875rem;
  height: 1.25rem;
  z-index: 5000;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #ffffff;
}

.icon-menu::before {
  top: 0;
}

.icon-menu::after {
  bottom: 0;
  width: 50%;
}

.icon-menu span {
  top: calc(50% - 0.0625rem);
}

.menu-open .icon-menu span {
  width: 0;
}

.menu-open .icon-menu::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-open .icon-menu::after {
  width: 100%;
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ibg--top {
  -o-object-position: top;
     object-position: top;
}

.ibg--bottom {
  -o-object-position: bottom;
     object-position: bottom;
}

.ibg--left {
  -o-object-position: left;
     object-position: left;
}

.ibg--right {
  -o-object-position: right;
     object-position: right;
}

.ibg--contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  color: #90E4FF;
  font-weight: 600;
  line-height: 1.2;
  /* 48/40 */
}

.title--white {
  color: #FFFFFF;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  -webkit-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

.header._header-scroll {
  background-color: rgba(0, 0, 0, 0.6);
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  padding: 1.25rem 0;
  max-height: 4.375rem;
  height: 100%;
}

.header__logo {
  position: relative;
  z-index: 2;
  font-size: 1.5625rem;
  font-weight: 700;
}

.header__logo::first-letter {
  color: #90E4FF;
}

.services__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
}

.item-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  position: relative;
  cursor: pointer;
}

.item-services::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.item-services__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item-services__body {
  position: relative;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.25rem;
  z-index: 2;
}

.item-services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
}

.item-services__title {
  margin-bottom: 1.25rem;
  -webkit-transform: translateY(3.125rem);
      -ms-transform: translateY(3.125rem);
          transform: translateY(3.125rem);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.item-services__text {
  overflow: hidden;
}

.item-services__text p {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

body {
  overflow-y: visible;
  position: relative;
  height: unset;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 67%;
          flex: 0 1 67%;
  /* 622/1440 */
  height: 100%;
}

.body-about {
  padding: 5.25rem 0;
}

.body-about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body-about__header {
  text-align: center;
  position: relative;
}

.body-about__bg-title {
  color: #333333;
  font-weight: 700;
  overflow: hidden;
}

.body-about__title {
  width: 100%;
}

.body-about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.body-about__items::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #90E4FF;
}

.body-about__item {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  padding: 0.625rem 1.875rem;
  text-align: center;
  color: #90E4FF;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.body-about__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  bottom: 0;
  left: 0;
  background-color: #90E4FF;
  border-radius: 0.3125rem 0.3125rem 0rem 0rem;
  z-index: -1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.body-about__item--active {
  color: #141414;
}

.body-about__item--active::before {
  content: "";
  height: 100%;
}

.body-about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.body-about__text {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  line-height: 1.25;
  /* 20/16 */
}

.body-about__text--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-about__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3125rem;
}

.body-about .show {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.body-about__link span {
  font-weight: 500;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.body-about__link span::after {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  background: url("../img/icons/link-arrow.svg") center no-repeat;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  height: 100vh;
}

.contact__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  /* 867/1440 */
  padding: 2.5rem 0;
}

.contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 25.8125rem;
}

.contact__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.contact__text {
  color: #A2A2A2;
  font-weight: 600;
}

.contact__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  /* 867/1440 */
}

.form-contact .form__error {
  display: none;
}

.form-contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inputBox {
  position: relative;
}

.inputBox label {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 0.875rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #D9D9D9;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input:focus ~ label {
  top: -5px;
}

input:focus ~ label,
input:valid ~ label {
  top: -5px;
}

@media (min-width: 29.99875em) {
  .services__items {
    height: 100vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .item-services {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (min-width: 47.99875em) {
  .menu__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .about__wrapper {
    height: 100vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .about__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 43%;
            flex: 1 1 43%;
    /* 622/1440 */
    height: 100%;
  }

  .body-about {
    overflow: auto;
  }

  .body-about__title {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .contact__body {
    padding: 5.25rem 0;
    min-width: 25rem;
    overflow: auto;
  }
}

@media (min-width: 61.99875em) {
  .item-services {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
    width: 33.3333333333vw;
    height: 100vh;
  }

  .item-services__body {
    padding-bottom: 50%;
  }
}

@media (min-width: 80em) {
  .title {
    font-size: 2.5rem;
  }

  .item-services__body {
    gap: 3.125rem;
  }

  .body-about__header:not(:last-child) {
    margin-bottom: 4.375rem;
  }

  .body-about__bg-title {
    font-size: 6.25rem;
  }

  .body-about__items:not(:last-child) {
    margin-bottom: 4.375rem;
  }

  .contact__text:not(:last-child) {
    margin-bottom: 5rem;
  }

  .form-contact__body {
    gap: 2.5rem;
  }

  .form-contact__body:not(:last-child) {
    margin-bottom: 5rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.5rem;
  }

  .item-services__body {
    gap: 1.875rem;
  }

  .body-about__header:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .body-about__bg-title {
    font-size: 1.875rem;
  }

  .body-about__items:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .contact__text:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .form-contact__body {
    gap: 1.25rem;
  }

  .form-contact__body:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 61.99875em) {
  .item-services::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
  }

  .item-services .item-services__title {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
  }

  .item-services .item-services__text p {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
  }
}

@media (max-width: 61.99875em) and (max-width: 20em) {
  .item-services__body {
    padding-bottom: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .item-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .item-menu .item-menu__title {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
  }

  .item-menu .item-menu__title::after {
    content: "";
  }

  .item-menu .item-menu__link span {
    -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    visibility: visible;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 1;
  }

  .contact {
    overflow: auto;
  }

  .contact__image {
    max-height: 40vh;
  }
}

@media (max-width: 29.99875em) {
  .item-services {
    padding-top: 6.25rem;
    height: 100%;
  }

  .item-services__body {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 20em) and (max-width: 80em) {
@supports (font-size: clamp( 1.5rem , 1.1666666667rem  +  1.6666666667vw , 2.5rem )) {
    .title {
      font-size: clamp( 1.5rem , 1.1666666667rem  +  1.6666666667vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.1666666667rem  +  1.6666666667vw , 2.5rem )) {
    .title {
      font-size: calc(1.5rem + 1 * (100vw - 20rem) / 60);
    }
}

@supports (gap: clamp( 1.875rem , 1.4583333333rem  +  2.0833333333vw , 3.125rem )) {
    .item-services__body {
      gap: clamp( 1.875rem , 1.4583333333rem  +  2.0833333333vw , 3.125rem );
    }
}

@supports not (gap: clamp( 1.875rem , 1.4583333333rem  +  2.0833333333vw , 3.125rem )) {
    .item-services__body {
      gap: calc(1.875rem + 1.25 * (100vw - 20rem) / 60);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.0416666667rem  +  4.1666666667vw , 4.375rem )) {
    .body-about__header:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.0416666667rem  +  4.1666666667vw , 4.375rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.0416666667rem  +  4.1666666667vw , 4.375rem )) {
    .body-about__header:not(:last-child) {
      margin-bottom: calc(1.875rem + 2.5 * (100vw - 20rem) / 60);
    }
}

@supports (font-size: clamp( 1.875rem , 0.4166666667rem  +  7.2916666667vw , 6.25rem )) {
    .body-about__bg-title {
      font-size: clamp( 1.875rem , 0.4166666667rem  +  7.2916666667vw , 6.25rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 0.4166666667rem  +  7.2916666667vw , 6.25rem )) {
    .body-about__bg-title {
      font-size: calc(1.875rem + 4.375 * (100vw - 20rem) / 60);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.0416666667rem  +  4.1666666667vw , 4.375rem )) {
    .body-about__items:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.0416666667rem  +  4.1666666667vw , 4.375rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.0416666667rem  +  4.1666666667vw , 4.375rem )) {
    .body-about__items:not(:last-child) {
      margin-bottom: calc(1.875rem + 2.5 * (100vw - 20rem) / 60);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.6666666667rem  +  4.1666666667vw , 5rem )) {
    .contact__text:not(:last-child) {
      margin-bottom: clamp( 2.5rem , 1.6666666667rem  +  4.1666666667vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.6666666667rem  +  4.1666666667vw , 5rem )) {
    .contact__text:not(:last-child) {
      margin-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 60);
    }
}

@supports (gap: clamp( 1.25rem , 0.8333333333rem  +  2.0833333333vw , 2.5rem )) {
    .form-contact__body {
      gap: clamp( 1.25rem , 0.8333333333rem  +  2.0833333333vw , 2.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.8333333333rem  +  2.0833333333vw , 2.5rem )) {
    .form-contact__body {
      gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 60);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.6666666667rem  +  4.1666666667vw , 5rem )) {
    .form-contact__body:not(:last-child) {
      margin-bottom: clamp( 2.5rem , 1.6666666667rem  +  4.1666666667vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.6666666667rem  +  4.1666666667vw , 5rem )) {
    .form-contact__body:not(:last-child) {
      margin-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 60);
    }
}
}

@media (max-width: 61.99875em) and (min-width: 80em) {
  .item-services__body {
    padding-bottom: 3.125rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 80em) {
@supports (padding-bottom: clamp( 1.25rem , 0.625rem  +  3.125vw , 3.125rem )) {
    .item-services__body {
      padding-bottom: clamp( 1.25rem , 0.625rem  +  3.125vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.625rem  +  3.125vw , 3.125rem )) {
    .item-services__body {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 60);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #1F1F1F;
  }

  .input:hover {
    border-bottom: 1px solid #90E4FF;
  }

  .item-menu:hover .item-menu__title {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
  }

  .item-menu:hover .item-menu__title::after {
    content: "";
    width: 100%;
  }

  .item-menu:hover .item-menu__link span {
    -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    visibility: visible;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 1;
  }

  .icon-menu:hover::after {
    content: "";
    width: 100%;
  }

  .icon-menu:hover span,
  .icon-menu:hover::before,
  .icon-menu:hover::after {
    background-color: #90E4FF;
  }

  .menu-open .icon-menu:hover {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  .item-services:hover::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
  }

  .item-services:hover .item-services__title {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
  }

  .item-services:hover .item-services__text p {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
  }
}

@media (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}